body {
  font-size: 10px;
}

.center {
  text-align: center;
}

.point {
  cursor: pointer;
}

.body-box {
  display: inline-block;
  width: 100%;
}

.head-name-div {
  display: inline-block;
  width: 94%;
  margin-left: 3%;
  margin-top: 50px;
}

.head-name {
  font-size: 40px;
  color: green;
}
